[submodule "gsplat"]
	path = gsplat
	url = https://github.com/nerfstudio-project/gsplat
[submodule "nvidia/stylegan3"]
	path = nvidia/stylegan3
	url = https://github.com/NVlabs/stylegan3.git
[submodule "nvidia/denoising-diffusion-gan"]
	path = nvidia/denoising-diffusion-gan
	url = https://github.com/NVlabs/denoising-diffusion-gan.git
[submodule "nvidia/DoRA"]
	path = nvidia/DoRA
	url = https://github.com/NVlabs/DoRA.git
[submodule "nvidia/VILA"]
	path = nvidia/VILA
	url = https://github.com/NVlabs/VILA.git
[submodule "torch-splatting"]
        path = torch-splatting
        url = https://github.com/hbb1/torch-splatting.git
[submodule "cvpr/Text-IF"]
        path = cvpr/Text-IF
        url = https://github.com/XunpengYi/Text-IF.git
[submodule "gmflow"]
        path = models/gmflow
        url = https://github.com/haofeixu/gmflow.git
		
[submodule "cvpr/SinSR"]
        path = cvpr/SinSR
        url = https://github.com/wyf0912/SinSR.git

[submodule "models/pykan"]
        path = models/pykan
        url =  https://github.com/KindXiaoming/pykan.git

# [submodule "cvpr/GPEMSR"]
#         path = cvpr/GPEMSR
#         url =  https://github.com/jtshou/GPEMSR.git

[submodule "cvpr/3d-gaussian-splatting"]
		path = cvpr/3d-gaussian-splatting
		url = https://github.com/WangFeng18/3d-gaussian-splatting.git

[submodule "cvpr/gsgen"]
		path = cvpr/gsgen
		url = https://github.com/gsgen3d/gsgen.git

[submodule "neurips/PromptIR"]
		path = neurips/PromptIR
		url = https://github.com/va1shn9v/PromptIR.git

[submodule "iclr/shortcut-models"]
		path = iclr/shortcut-models
		url =  https://github.com/kvfrans/shortcut-models.git