[submodule "gsplat"]
	path = gsplat
	url = https://github.com/nerfstudio-project/gsplat
[submodule "stylegan3"]
	path = stylegan3
	url = https://github.com/NVlabs/stylegan3.git
[submodule "torch-splatting"]
        path = torch-splatting
        url = https://github.com/hbb1/torch-splatting.git
[submodule "cvpr/Text-IF"]
        path = cvpr/Text-IF
        url = https://github.com/XunpengYi/Text-IF.git
