pip
pipenv
setuptools
wheel
requests==2.28.1
numpy
scipy
cython
numba
matplotlib
seaborn
opencv-python
pyyaml
rawpy
imageio
imageio-ffmpeg
scikit-image
beartype
colorama
moviepy
dacite
tabulate
svg.py
h5py
einops
plyfile
e3nn
lpips
colorspacious
tqdm
pandas
wandb
scikit-learn
timm
lightning[extra]
tensorboard
pytorch-metric-learning
pytorch-ignite
pytorch-gradcam
pytorch-msssim
pytorchvideo
torchmetrics
torch_optimizer
torchsampler
torchgeometry
torchio
piq
torchdiffeq
hydra-core
fvcore
flax[all]
jaxtyping
tensorflow
nibabel
dicom2nifti
hdf5storage
pydicom
gsplat
segmentation-models-pytorch
ruamel.yaml
nerfview
viser
icecream
dahuffman
vector-quantize-pytorch
datashader
holoviews
hvplot
jupyterlab
mahotas
monailabel

torch --pre --index-url https://download.pytorch.org/whl/nightly/cu124
torchvision --pre --index-url https://download.pytorch.org/whl/nightly/cu124
torchaudio --pre --index-url https://download.pytorch.org/whl/nightly/cu124

--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_local]
cupy-cuda12x