pip
setuptools
wheel
numpy
scipy
cython
numba
matplotlib
seaborn
opencv-python
pyyaml
imageio
imageio-ffmpeg
scikit-image
beartype
colorama
moviepy
dacite
tabulate
svg.py
h5py
einops
plyfile
e3nn
lpips
colorspacious
tqdm

# Pre-release versions of torch, torchvision, and torchaudio from the nightly build
torch --pre --index-url https://download.pytorch.org/whl/nightly/cu124
torchvision --pre --index-url https://download.pytorch.org/whl/nightly/cu124
torchaudio --pre --index-url https://download.pytorch.org/whl/nightly/cu124

pandas
wandb
scikit-learn
timm
lightning[extra]
tensorboard
# pytorch-metric-learning
# pytorch-ignite
# pytorch-gradcam
# pytorch-msssim
pytorchvideo
torchmetrics
torch_optimizer
# torchsampler
torchensemble
# torchattacks
torchgeometry
torchio
piq
torchdiffeq
hydra-core
fvcore
flax[all]
jaxtyping
tensorflow
nibabel
dicom2nifti
hdf5storage
pydicom
jax[cuda12_local] --find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
gsplat
segmentation-models-pytorch
cupy-cuda12x
ruamel.yaml
